<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections />
	<connectionStrings>
		<add name="AssignmentDB"
			 connectionString="Data Source=LAPTOP-7LLUAD3U;Initial Catalog=BBBBADR;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
